<% if @weather['cod'] == 200 %>

	<script src="https://api-maps.yandex.ru/2.1/?lang=en" type="text/javascript"></script>
	<script type="text/javascript">
		ymaps.ready(init);

		function init() {
			var coord = document.getElementById('map')
			var lon = Number(coord.dataset.lon)
			var lat = Number(coord.dataset.lat)
			
			var myMap = new ymaps.Map("map", {
				center: [lat, lon],
				zoom: 5
			});

			var Placemark = new ymaps.Placemark([lat, lon]);

			myMap.geoObjects.add(Placemark);
		}
	</script>

	<div class='row'>
		<div class='col-md-6 offset-md-3'>
			<h1><%= @weather['name'] %></h1>
			<div id='weather'>	
				<p>
					Temperature: <%= @weather['main']['temp'].round %>°C
				</p>

				<p>
					Wind: <%= @weather['wind']['speed'] %> m/s
				</p>

				<p>
					Pressure: <%= @weather['main']['pressure'] %> hpa
				</p>

				<p>
					Humidity: <%= @weather['main']['humidity'] %> %
				</p>

				<%= link_to 'Back', cities_path %>
			</div>
			
			<%= content_tag :div, id: 'map', data: 
										{ lon: @weather['coord']['lon'], 
													lat: @weather['coord']['lat'] } do %>
			</div>
		</div>
	<% end %>

<% else %>
	<h1> <%= @weather['cod'] %> </h1>

	<p><%= @weather['message'].upcase %></p>

	<%= link_to 'Back', cities_path %>
<% end %>